@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    background-color: #e5e7eb;
    position: relative;
    display: flex;
}

#menu{
    background: #111827;
    width: 300px;
    height:100%;
    position: fixed;
    top: 0;
    left: 0;
}

#menu .logo img{
    width: 40px;
    margin-right: 15px;
}
#menu .logo{
    display: flex;
    align-items: center;
    color: white;
    padding: 20px 0 0 20px;
}

#menu .items{
    margin-top: 40px;
}

#menu .items li{
    list-style: none;
    padding: 15px 0;
    transition: 0.3s ease;
}

#menu .items li:hover{
    background: #253047;
    cursor: pointer;
}

#menu .items li:nth-child(1){
    border-left: 5px solid #fff;
}

/* #menu .items li:nth-child(2){
    border-left: 5px solid #fff;
} */

#menu .items li i{
    color: rgb(134, 141, 151);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
    
}

#menu .items li:hover i,
#menu .items li:hover a{
    color: #f3f4f6;
}


#menu .items li a{
    text-decoration: none;
    color: rgb(134, 141, 151);
    font-weight: 300px;
    transition: 0.3s ease;
}

#interface{
    width: calc(100% - 300px);
    margin-left: 300px;
    position: relative;
}

#interface .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 30px;
    border-bottom: 3px solid blueviolet;
    position: fixed;
    width: calc(100% - 300px);
}

#interface .navigation .search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 14px;
    border: 1px solid #d7dbe6;
    border-radius: 4px;
}
#interface .navigation .search i{
    margin-right: 14px;
}

#interface .navigation .search input{
    border: none;
    outline: none;
    font-size: 14px;
}

#interface .navigation .profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#interface .navigation .profile i{
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
}

#interface .navigation .profile img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.i-name{
    color: #444a53;
    padding: 30px 30px 0 30px;
    font-size: 25px;
    font-weight: 700px;
    margin-top: 70px;
}

.values{
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.values .val-box{
    background: #fff;
    width: 240px;
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.values .val-box i{
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    margin-right: 15px;
}
.values .val-box:nth-child(1) i{
    background-color: #7b74ec;
}
.values .val-box:nth-child(2) i{
    background-color: #12102b;
}
.values .val-box:nth-child(3) i{
    background-color: #ec7498;
}
.values .val-box:nth-child(4) i{
    background-color: #74ecb2;
}


.values .val-box h3{
    font-size: 18px;
    font-weight: 600;
}
.values .val-box span{
    font-size: 15px;
    color: #828997;
}

.board{
    width: 95%;
    margin: 30px 0 30px 30px;
    overflow: auto;
    background: #fff;
    border-radius: 8px;
}

.board img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50px;
    margin-right: 15px;
}

.board h5{
    font-weight: 600px;
    font-size: 14px;
}

.board p{
    font-weight: 400;
    font-size: 13px;
    color: #444a53;
}

.board .people{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}

table{
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid #d7dbe6;
}

thead td{
    font-size: 14px;
    text-transform: uppercase;
    background: #D3D3D3;
    font-weight: 400;
    text-align: start;
    padding: 15px;
}

tbody tr td{
    padding: 10px 15px;
}

.Active p{
    background: #83f28f;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: #2b2b2b;
}

.role p{
    color: #2b2b2b;
}

.edit a{
    text-decoration: none;
    font-size: 14px;
    color: #5D3FD3;
    font-weight: 600;

}

.number p{
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: #2b2b2b;
}

.delete a{
    background: #C04000;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: #2b2b2b;
    text-decoration: none;
}

.del a {
    display: inline-block;
    padding: 2px 10px;
    border-radius: 40px;
    color: #2b2b2b;
    text-decoration: none;
    margin-right: 10px;
}

.del .edit {
    background: #5D3FD3;
}

.del .delete {
    background: #C04000;
}

.add-button {
    background-color: #4CAF50; 
    border: none;
    color: white; 
    padding: 8px 16px; 
    text-align: center; 
    text-decoration: none; 
    font-size: 14px; 
    margin-bottom: 15px;
    margin-right: 35px;
    margin-top: 35px;
    margin-left: 35px;
    cursor: pointer; 
    border-radius: 5px; 
    transition-duration: 0.4s;
    float: right; 

}
.add-button:hover {
    background-color: #45a049; 
}
